
<div class="container-fluid">
    <h3>Showing All The Employees</h3>
    <div>
        <button (click)="refresh()" class="btn btn-primary">
            Reload
        </button>
    </div>
    
    <table class='table table-hover table-bordered table-light'>
        <caption>Employee Data</caption>
        <thead  class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
                <th><i class="fa fa-trash-o" id="icon1"></i></th>
            </tr>
        </thead>
        <tbody>
                <span *ngIf="message"class="alert alert alert-danger">
                    {{message}}</span>
                <tr *ngFor="let emp of employees">
                    <td>
                        {{emp.id}}
                    </td>
                    <td>
                        {{emp.name}}
                    </td>
                    <td>
                        {{emp.salary}}
                    </td>
                    <td>
                        <button id="button1" aria-label="delete" 
                        (click)="delete(+emp.id)">
                        <i class="fa fa-trash-o" id="icon2"></i>
                        </button>
                    </td>
                </tr>
        </tbody>
        
    </table>
</div>