<div class="container-fluid">
    <h3>Showing All The Employees</h3>
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let emp of employees">
                    <td>
                        {{emp.id}}
                    </td>
                    <td>
                        {{emp.name}}
                    </td>
                    <td>
                        {{emp.salary}}
                    </td>
                </tr>
        </tbody>
    </table>
    <div>
        <button (click)="refresh()" class="btn btn-primary">
            Reload
        </button>
    </div>
</div>
