<nav class="navbar bg-danger navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink='/store' class="nav-link">Store</a> &nbsp;
        <a routerLink='/update' class="nav-link">Update</a> &nbsp;
        <a routerLink='/findAll' class="nav-link">FindAll</a> &nbsp;
        <a routerLink='/find' class="nav-link">Find</a>
      </div>
    </div>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
